@model List<Project.Models.Article>

@{
    ViewBag.Title = "List";
}

@{
    var currentUserQuerry = Request.QueryString["user"];
}

<div class="container">
    <div class="row">
        <h2 class="text-center">@(currentUserQuerry != null ? "Drinks by " + Model.First().Author.FullName : string
         .Empty) - Page @ViewBag.CurrentPage </h2>
        @if(!Model.Any())
        {
            <h2 class="text-center"> No more recipies.If you want to add more click @Html.ActionLink("here","Create","Article")</h2>
        }
        @foreach(var article in Model)
        {
            <div class="row" style="padding-top:60px">
                <div class="col-md-6">
                    <img src = "@article.imgURL" class="img-responsiveKalin"  />
                </div>
                <div class="col-md-6">
                    <h2>
                        @Html.ActionLink(@article.Title, "Details", "Article", new { @id = article.Id
    }, null)
                    </h2>
                    <p>
                        @article.Content.Substring(0, article.Content.Length / 3)...
                    </p>
                    <footer class="pull-right">
                        <small class="author">
                            --author @article.Author.FullName
                        </small>
                    </footer>
                </div>
            </div>
        }
    </div>
</div>
<hr />



<p class="text-center">
    <a href = "/Article/List?page=@(ViewBag.CurrentPage-1)@(currentUserQuerry!=null? " &user = " + currentUserQuerry : string
         .Empty)" class="btn btn-primary @((ViewBag.CurrentPage==1) ? "disabled" : string.Empty)"><< Privious</a>
    <a href="/Article/List?page=@(ViewBag.CurrentPage+1)@(currentUserQuerry!=null? "&user=" + currentUserQuerry : string
         .Empty)" class="btn btn-primary @(!Model.Any() ? "disabled" : string.Empty)">Next >></a>
</p>
